<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags --> 
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Admin Dashboard</title>

  <!-- base:css -->
  <link rel="stylesheet" href="static/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="static/vendors/feather/feather.css">
  <link rel="stylesheet" href="static/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="static/vendors/flag-icon-css/css/flag-icon.min.css"/>
  <link rel="stylesheet" href="static/vendors/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/vendors/jquery-bar-rating/fontawesome-stars-o.css">
  <link rel="stylesheet" href="static/vendors/jquery-bar-rating/fontawesome-stars.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="static/regal_css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
</head>


<style>
    .card-folders .card-body > .breadcrumb {
  margin-left: -1.25em;
  margin-right: -1.25em;
  margin-top: -1.25em;
  border-radius: 0;
}

.folder-container {
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  width: 100px;
  padding: 0;
  align-self: start;
  background: none;
  border: none;
  outline-color: transparent !important;
  cursor: pointer;
}

.folder-icon {
  font-size: 3em;
  line-height: 1.25em;
}

.folder-icon-color {
  color: #FFC107;
  text-shadow: 1px 1px 0px #e0a800;
}

.folder-name {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.flex-column .folder-container {
  display: flex;
  width: auto;
  min-width: 100px;
  text-align: left;
  margin: 0;
  margin-bottom: 1rem;
}

.flex-column .folder-icon, .flex-column .folder-name {
  display: inline-flex;
}

.flex-column .folder-icon {
  font-size: 1.4em;
  margin-right: 1rem;
}

.file-icon-color {
  color: #999;
}
</style>


<script>
$( document ).ready(function() {
  $('#btn-list').on('click', function() {
    $('#main-folders').addClass('flex-column');
    $('#btn-grid').removeClass('active')
    $(this).addClass('active')
  });
  $('#btn-grid').on('click', function() {
    $('#main-folders').removeClass('flex-column');
    $('#btn-list').removeClass('active')
    $(this).addClass('active')
  });
  $('#btn-list').on('click', function() {
    $('#main-files').addClass('flex-column');
    $('#btn-grid').removeClass('active')
    $(this).addClass('active')
  });
  $('#btn-grid').on('click', function() {
    $('#main-files').removeClass('flex-column');
    $('#btn-list').removeClass('active')
    $(this).addClass('active')
  });
});
</script>

<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html">Smart E-Exam</a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-mini.svg" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
       
        <ul class="navbar-nav navbar-nav-right">
          
        
          <li class="nav-item dropdown d-flex mr-4 ">
            <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-cog"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Settings</p>
              
              <a class="dropdown-item preview-item" href="/logout">
                  <i class="icon-inbox"></i> Logout
              </a>
            </div>
          </li>
          
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          
         <li class="nav-item">
            <a class="nav-link" href="/teacher_dashboard">
              <i class="icon-pie-graph menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="/create-test">
              <i class="icon-pie-graph menu-icon"></i>
              <span class="menu-title">Create Exam</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/viewquestions">
              <i class="icon-pie-graph menu-icon"></i>
              <span class="menu-title">View Questions</span>
            </a>
          </li>

         <li class="nav-item">
            <a class="nav-link" href="/updateidlist">
              <i class="icon-pie-graph menu-icon"></i>
              <span class="menu-title">Update Questions</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/addquestion">
              <i class="icon-pie-graph menu-icon"></i>
              <span class="menu-title">Add Questions</span>
            </a>
          </li>
          
      
          <li class="nav-item">
            <a class="nav-link" href="/viewstudentslogs">
              <i class="icon-pie-graph menu-icon"></i>
              <span class="menu-title">Student Monitoring</span>
            </a>
          </li>

          

          <li class="nav-item">
            <a class="nav-link" href="/{{session.username}}/tests-created">
              <i class="icon-pie-graph menu-icon"></i>
              <span class="menu-title">Results</span>
            </a>
          </li>

        
  
        </ul>
      </nav>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">

            
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                 
                 
                  <div class="table-responsive">

                      
                      <div class="container">
  <div class="card card-folders">
    {% if callresults is not none %}
    <div class="card-header">
       <h4 class="card-title m-0">Student logs of exam ID : {{tid}}</h4>
      <div class="row align-items-center">
          <div class="col mr-auto">
            {% for res in callresults %}
            
            {% endfor %}
          </div>
          <div class="col col-auto pr-2">
            <div class="btn-group">
              <button class="btn btn-sm btn-outline-secondary" id="btn-list"><i class="fa fa-th-list fa-lg"></i></button>
              <button class="btn btn-sm btn-outline-secondary outline-none active" id="btn-grid"><i class="fa fa-th-large fa-lg"></i></button>
            </div>
          </div>
        </div>
    </div>
    <div class="card-body" id="foldersGroup">
      <div id="main-folders" class="d-flex align-items-stretch flex-wrap">
 {% for res in callresults%}
        <div class="d-inline-flex">
            <button class="folder-container">
                <span>
                <a href="studentmonitoringstats/{{res['test_id']}}/{{res['email']}}">
              <div class="folder-icon">
                <i class="fa fa-folder folder-icon-color"></i>
              </div>
              <div class="folder-name">{{res['email']}}<br>
              </div>
            </a>
        </span>
            </button>
          </div>
{% endfor %} 




        </div>
    </div>
    {% else %}
    <div class="col-lg-12 col-sm-16">
      <center><lottie-player src="https://assets7.lottiefiles.com/datafiles/vhvOcuUkH41HdrL/data.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player></center>
        <h3 class="h3 text-center">
            No Records Found!
        </h3>  
        <br>
      </div>
    {% endif %}
  </div>
</div>
                    



                  </div>
   
     

                  </div>
                </div>
              </div>
            </div>
           


<div class="row">

            
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                 
                 
                  

                      
                      <div class="container">
                         <h4 class="card-title m-0">Messages from Students</h4>
                         <br>
                          <div class="card card-folders">

                                  <div class="table-responsive">
                                    {% if(callresults2 is not none and callresults2) %}
                    <table class="table table-striped">

                        <thead>
                        <tr>
                          <th>
                            Sr. No
                          </th>
                          <th>
                            Message
                          </th>
                          <th>
                            Student Name
                          </th>
                          <th>
                            Test ID
                          </th>
                        
                        </tr>
                      </thead>

                      <tbody>

                      </tbody>
                      {% for res in callresults2 %}
              <tr>
                    <td>{{res['mid']}}</td>
                    <td>{{res['content']}}</td>
                    <td>{{res['student_name']}}</td>
                    <td>{{res['tid']}}</td>
                    
                   </tr>
{% endfor %}
                    </table>
                    {% else %}
<div class="col-lg-12 col-sm-16">
    <center><lottie-player src="https://assets7.lottiefiles.com/datafiles/vhvOcuUkH41HdrL/data.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player></center>
    <h3 class="h3 text-center">
        No Records Found!
    </h3>  
  </div>
{% endif %}
                  </div>
                          </div>
 
                     </div>
                    



                
     

                  </div>
                </div>
              </div>
            </div>







                  </div>
                </div>
              </div>
            
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
      
        <!-- partial -->
      </div>
      <!-- main-panel ends -->

    <!-- page-body-wrapper ends -->
  <!-- container-scroller -->
  <!-- base:js -->
  <!-- base:js -->
  <script src="static/vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="static/regal_js/off-canvas.js"></script>
  <script src="static/regal_js/hoverable-collapse.js"></script>
  <script src="static/regal_js/template.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <script src="static/vendors/chart.js/Chart.min.js"></script>
  <script src="static/vendors/jquery-bar-rating/jquery.barrating.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="static/regal_js/dashboard.js"></script>
  <!-- End custom js for this page-->

</html>
