<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="static/give_test.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/studui/assets/css/bootstrap.css">

    <link rel="stylesheet" href="static/studui/assets/vendors/iconly/bold.css">

    <link rel="stylesheet" href="static/studui/assets/vendors/perfect-scrollbar/perfect-scrollbar.css">
    <link rel="stylesheet" href="static/studui/assets/vendors/bootstrap-icons/bootstrap-icons.css">
    <link rel="stylesheet" href="static/studui/assets/css/app.css">
    <link rel="shortcut icon" href="static/studui/assets/images/favicon.svg" type="image/x-icon">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/common.css">
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <script src="sweetalert2.min.js"></script>
        <link rel="stylesheet" href="sweetalert2.min.css">
        <script src="sweetalert2.all.min.js"></script>
        
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                       
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">
                        <li class="sidebar-title"><h2>Menu</h2></li>

                        <li class="sidebar-item">
                            <a href="/student_dashboard" class='sidebar-link'>
                                <i class="bi bi-grid-fill"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="sidebar-item active">
                            <!-- <a href="/give-test" class='sidebar-link'> -->
                                <a href="#" onclick="return disp_rules()" class='sidebar-link'>
                                <i class="bi bi-pen-fill"></i>
                                <span>Attempt Test</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="/{{session.username}}/tests-given" class='sidebar-link'>
                                <i class="bi bi-file-earmark-spreadsheet-fill"></i>
                                <span>Results</span>
                            </a>
                        </li>

                    <li class="sidebar-title">Options</li>

                    <li class="sidebar-item">
                            <a href="/" class='sidebar-link'>
                                <i class="bi bi-hexagon-fill"></i>
                                <span>Logout</span>
                            </a>
                        </li>

                        
                    </ul>
                  </div>
             <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
  </div>
        </div>


<br><br><br>
                                    
            
            {% from "includes/_formhelpers.html" import render_field %}

            <div class="container" align="center" id="login">
              <div class="row">
                <div class="col-sm">
                  <h1>Login</h1>
                </div>
              </div>
              <div class="login-box well">
              <form method="POST" action="">
                {% include 'includes/_messages.html' %}
                <div class="form-group">
                  {{render_field(form.test_id, class="form-control")}}
                </div>
                <div class="form-group">
                  {{render_field(form.password, class="form-control")}}
                </div>
                <p><input type="submit" class="btn btn-warning" value="Submit"></p>
                
              </form>
</div>

</div> 


</div>

<script type="text/javascript">
var elem = document.documentElement;

function disp_rules()
{
    if (document.exitFullscreen) 
    {
        document.exitFullscreen();
    }

  Swal.fire({
  title: '<strong>Read instructions carefully</strong>',
  icon: 'success',
  html:
    '<h5>THIS IS A PROCTORED TEST</h5> ' +
    '<ol> <br> <li>Ensure you are in front of camera all the time during the exam</li> <br> <li>Do not navigate away from the exam tab. If any navigation is done then the system will show alert on the screen and the logs will be generated.</li> <br> <li>Dont try to use mobile or any other material. System will detect everything from the student video.</li> <br> <li>Click on BEGIN EXAM button below and then enter the test id and password shared by your teacher.</li></ol>',
  showCloseButton: false,
  showCancelButton: false,
  focusConfirm: true,
  confirmButtonColor: '#0000FF',
  confirmButtonText:
    'OK, BEGIN EXAM!',
  confirmButtonAriaLabel: 'We are abide by rules!'
}).then((result) => {
  if (result.isConfirmed) 
  {
    window.location.href = "/give-test";
  }
})
}


</script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html> 

<!-- {% extends 'layout.html' %}

{% block head %}
  <link rel="stylesheet" href="static/give_test.css">
{% endblock %}


{% block body %}


{% from "includes/_formhelpers.html" import render_field %}
<div class="container" align="center" id="login">
  <div class="row">
    <div class="col-sm">
      <h1>Login</h1>
    </div>
  </div>
  <div class="login-box well">
  <form method="POST" action="">
    <div class="form-group">
      {{render_field(form.test_id, class="form-control")}}
    </div>
    <div class="form-group">
      {{render_field(form.password, class="form-control")}}
    </div>
    <p><input type="submit" class="btn btn-primary" value="Submit"></p>
  </form>
</div>
{% endblock %} -->