<!-- base:css -->
  <link rel="stylesheet" href="static/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="static/vendors/feather/feather.css">
  <link rel="stylesheet" href="static/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="static/vendors/flag-icon-css/css/flag-icon.min.css"/>
  <link rel="stylesheet" href="static/vendors/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="static/vendors/jquery-bar-rating/fontawesome-stars-o.css">
  <link rel="stylesheet" href="static/vendors/jquery-bar-rating/fontawesome-stars.css">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="static/regal_css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="images/favicon.png" />
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
      <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
        <a class="navbar-brand brand-logo" href="index.html">G24</a>
        <a class="navbar-brand brand-logo-mini" href="index.html"><img src="images/logo-mini.svg" alt="logo"/></a>
      </div>
      <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
        <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
          <span class="icon-menu"></span>
        </button>
       
        <ul class="navbar-nav navbar-nav-right">
          
        
          <li class="nav-item dropdown d-flex mr-4 ">
            <a class="nav-link count-indicator dropdown-toggle d-flex align-items-center justify-content-center" id="notificationDropdown" href="#" data-toggle="dropdown">
              <i class="icon-cog"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
              <p class="mb-0 font-weight-normal float-left dropdown-header">Settings</p>
              
              <a class="dropdown-item preview-item" href="/logout">
                  <i class="icon-inbox"></i> Logout
              </a>
            </div>
          </li>
          
        </ul>
        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
          <span class="icon-menu"></span>
        </button>
      </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
  <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          
         <li class="nav-item">
            <a class="nav-link" href="/teacher_dashboard">
              <i class="icon-pie-graph menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="/create-test">
              <i class="icon-pie-graph menu-icon"></i>
              <span class="menu-title">Create Exam</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/viewquestions">
              <i class="icon-pie-graph menu-icon"></i>
              <span class="menu-title">View Questions</span>
            </a>
          </li>

         <li class="nav-item">
            <a class="nav-link" href="/updateidlist">
              <i class="icon-pie-graph menu-icon"></i>
              <span class="menu-title">Update Questions</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/addquestion">
              <i class="icon-pie-graph menu-icon"></i>
              <span class="menu-title">Add Questions</span>
            </a>
          </li>
          
      
          <li class="nav-item">
            <a class="nav-link" href="/viewstudentslogs">
              <i class="icon-pie-graph menu-icon"></i>
              <span class="menu-title">Automatic Monitoring</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/livemonitoringid">
              <i class="icon-pie-graph menu-icon"></i>
              <span class="menu-title">Live Monitoring</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/{{session.username}}/tests-created">
              <i class="icon-pie-graph menu-icon"></i>
              <span class="menu-title">Results</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/publish-results">
              <i class="icon-pie-graph menu-icon"></i>
              <span class="menu-title">Publish Results</span>
            </a>
          </li>
  
        </ul>
      </nav>




<div class="main-panel">
        <div class="content-wrapper">
          <div class="row">

            
            <div class="col-lg-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Choose Exam ID from the list</h4>
                 
                   {% include 'includes/_messages.html' %}
                  <div class="table-responsive">

                          <div class="row align-items-center d-flex  justify-content-center">
    <div class="col-12 mb-4">
        <div class="card border-light shadow-sm components-section align-items-center d-flex  justify-content-center">
            <div class="card-body align-items-center d-flex justify-content-center">     
                <div class="row mb-4">
                     {% if(cresults is not none and cresults) %}
                       
                       
                            <div class="card-body">
                  <form action="updatedispques" method="POST" class="mt-4">
                                    <div class="form-group text-center">
                                        <div class="form-group">
                                            
                                            <select class="custom-select my-1 mr-sm-2" id="livebox" name="choosetid" required>
                                                {% for test in cresults %}
                                                <option value={{test}}>{{test}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>

                                    <input type="submit" class="btn btn-block btn-primary" value="VIEW QUESTIONS"/>
                                </form>
                            </div>
                            {% else %}        
                            <div class="col-lg-12 col-sm-16">
                                <center><lottie-player src="https://assets7.lottiefiles.com/datafiles/vhvOcuUkH41HdrL/data.json"  background="transparent"  speed="1"  style="width: 300px; height: 300px;"  loop  autoplay></lottie-player></center>
                                <h3 class="h3 text-center">
                                    No Records Found!
                                    <br>
                                    Or
                                    <br>
                                    Note: At the time of Exam or After Exam you are not allowed to update & delete the questions & answers 
                                </h3>                              
                              </div>
                            {% endif %}
                        </div>







                </div>
                

            </div>
                            </div>
       


        </div>
    </div>

                    


                  </div>
   
     

                  </div>
                </div>
              </div>
            </div>
           
                  </div>
                </div>
              </div>
            
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
      
        <!-- partial -->
      </div>




          <!-- page-body-wrapper ends -->
  <!-- container-scroller -->
  <!-- base:js -->
  <!-- base:js -->
  <script src="static/vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="static/regal_js/off-canvas.js"></script>
  <script src="static/regal_js/hoverable-collapse.js"></script>
  <script src="static/regal_js/template.js"></script>
  <!-- endinject -->
  <!-- plugin js for this page -->
  <script src="static/vendors/chart.js/Chart.min.js"></script>
  <script src="static/vendors/jquery-bar-rating/jquery.barrating.min.js"></script>
  <!-- End plugin js for this page -->
  <!-- Custom js for this page-->
  <script src="static/regal_js/dashboard.js"></script>
  <!-- End custom js for this page-->

</html>